@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.bg-codemate {
    position: relative;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .bg-codemate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9); /* Black shadow with 50% opacity */
    z-index: -1; /* Ensures the overlay is below the text */
  }



  @layer utilities {
    .text-shadow-glow {
      text-shadow: 0 0 10px rgba(252, 2, 110, 0.8);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  
  /* custom cssfor toast alert */
  
  .Toastify__toast--success {
    background-color: #4caf50 !important; /* Green for success */
    color: white !important;
  }
  
  .Toastify__toast--error {
    background-color: #000000 !important; /* Red for error */
    color: rgb(255, 0, 0) !important;
    font-weight: bold;
  }
  
  .Toastify__toast--info {
    background-color: #2196f3 !important; /* Blue for info */
    color: white !important;
  }
  